<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
</head>

<body>
  <section class="page-header">
    <h1 class="project-name"><a href="/" title="Schäfer + Erichsen = Schäfersen">Schäfersen</a></h1>
    <h2 class="project-tagline">Was kochen wir heute? Eine Geschmackserinnerungshilfe!</h2>
  </section>
  <section class="main-content">
    {{ content }}
    <div style="clear: both;"></div>
    <footer class="site-footer">
      <p>
        Follow Stefan on Social Media
        <a href="https://www.instagram.com/dr4k4n" title="Instagram"><img class="badge" src="/images/instagram.svg" alt="Instagram" /></a>
        <a href="https://twitter.com/Dr4K4n" title="Twitter"><img class="badge" src="/images/twitter.svg" alt="Twitter"></a>
        <a href="https://github.com/Dr4K4n" title="Github"><img class="badge" src="/images/github.svg" alt="Github"></a>
        <a href="https://www.xing.com/profile/Stefan_Erichsen2" title="Xing"><img class="badge" src="/images/xing.svg" alt="Xing"></a>
        <span style="padding: 0 2em;"></span>
        Follow Kristina on Social Media
        <a href="https://www.instagram.com/krisde59" title="Instagram"><img class="badge" src="/images/instagram.svg" alt="Instagram" /></a>
        <a href="https://twitter.com/schaefer_kris" title="Twitter"><img class="badge" src="/images/twitter.svg" alt="Twitter"></a>
        <a href="https://github.com/krschaef" title="Github"><img class="badge" src="/images/github.svg" alt="Github"></a>
        <a href="https://www.xing.com/profile/Kristina_Schaefer23" title="Xing"><img class="badge" src="/images/xing.svg" alt="Xing"></a>
      </p>
    </footer>
  </section>
</body>

</html>
